
/* GENERAL CONFIGURATION */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

/* FONT */
body{
    font-family: 'PT Sans', sans-serif;
    background-color: var(--light-color);
}

/* COLORS STYLE */

:root{
    --secondary-color: #0084FD;
    --dark-color: #333333;
    --light-color: #FFFFFF;
    --primary-color: #9792E4;
    --bg-card: #B5DDFF;
    --contrast-color: #FDC15F;
    }
    
    header, footer{
        color: var(--light-color);
    }

/* UTILITY */

.text-center{
    text-align: center;
}

.small-radius{
    border-radius: 20px;
}

.big-radius{
    border-radius: 50px;
}

/* BUTTON CONFIG */
button{
    border: 0;
    padding: 10px;
    border-radius: 15px;
}

.first-btn{  
    color: white;
}

.app-store{
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
}

.app-store > *{
    font-size: 20px;
}

.fa-apple{
    padding-right: 5px;
    color: var(--light-color);
}

button:hover{
    cursor: pointer;
}


/* CONTAINER CLASS CONFIG */
.container{
    padding: 15px;
}



/* HEADER CONFIG */
header{
    background-color: var(--secondary-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    height: 80px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: none;
}

nav i{
    color: white;
    font-size: 50px;
}

header nav a{
    color: var(--light-color);
}

nav ul li{
    padding: 5px;
}

nav ul button a{
    color: var(--secondary-color);
    text-align: center;
}


/* MAIN CONFIG */
main{
    margin-top: 80px;
}

.even{
    background-color: var(--primary-color);
}

.card{
    margin: 10px;
    padding: 20px;
}

#intro .card{
    background-color: var(--bg-card);
}

#testimonials .card{
    background-color: var(--primary-color);
}


/* INTRO SECTION CONFIG */

#intro h3, i{
    color: var(--secondary-color);
}

.main-icon{
    font-size: 50px;
}

.intro > *{
    padding-bottom: 20px;
}

/* Demo Card Config */

.card-left{
    flex-flow: row;
    align-items: center;;
}

.card-left > *{
    width: 80%;
    padding-bottom: 20px;   
}

.card-right{
    width: 80%;
    padding: 0;
    margin: 0;
    position: relative;
}

.card-right img{
    width: 100%;
    display: block;
    position: relative;
    bottom: -20px;
}

/* PLANNING SECTION CONFIG */
.planning-left img{
    width: 100%;
}
.planning-right img{
    width: 100%;
}

.planning-content h2{
    font-size: 40px;
    padding-bottom: 20px;
}

.planning-content{
    color: white;
}

.planning-right{
    background-color: var(--light-color);
    margin: 20px auto;
    text-align: center;
}

.developement-content > *{
    padding: 15px;
}

.developement-content button{
    border: 0;
    background-color: var(--primary-color);
    border-radius: 50%;
    margin-bottom: 10px;
}

.developement-content button i{
    color: black;
}

/* TESTIMONIALS SECTION CONFIG */
.testimonials-header > *{
    padding: 15px;
}

.testimonials-header h2{
    color: var(--primary-color);
}

#testimonials-head, .testimonial-name{
    text-transform: uppercase;
}

/* Testimonials card config */
.testimonial{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.img-box{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
}

.img-box img{
    width: 100%;
    height: 100%;  
    object-fit: cover;
    object-position: center;
}

.testimonial-content > *{
    color: white;
    padding-bottom: 15px;
    text-align: center;
}

.testimonial-name{
    font-weight: bold;
}

/* FEATURE SECTION CONFIG */
#features h2{
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

/* FEATURE CARD CONFIG */
.benefit{
    background-color: var(--light-color);
    color: var(--primary-color);
}

.benefit > h3{
    font-size: 40px;
}

.benefit > h3, h4, p{
    padding: 10px;
}

.benefit button{
    padding: 10px;
    color: var(--light-color);
    background-color: #9792E4;
    border: 0;
    width: 40%;   
    letter-spacing: 3px;
}

/* ABOUT US SECTION CONFIG */
.about-right{
    margin-bottom: 15px;
}

.about-right h2{
    padding: 10px;
    font-size: 40px;
    color: var(--primary-color);
}

.about-left button{
    background-color: var(--primary-color);
    color: var(--light-color);
}

.about-left button i{
    color: var(--light-color);
}

.about-left p{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 20px;
}

/* CALL TO ACTION SECTION CONFIG */

#call-to-action p:first-child{
    text-transform: uppercase;
}

#call-to-action > p,h2,h3{
    padding: 10px;
}

#call-to-action p,h2,a{
    color: var(--light-color);
}

#call-to-action h3{
    color: var(--contrast-color);
    font-size: 50px;
}

#call-to-action{
    text-align: center;
}

#call-to-action button{
    color: var(--primary-color);
    font-size: 20px;
    padding: 25px;
    width: 200px;
}

/* FOOTER CONFIG */
footer{
    background-color: var(--dark-color);
}

footer p{
    text-align: center;
    padding: 15px 0 30px 0;
}

footer a{
    color: var(--primary-color);
}

/* RESPONSIVE */

/* Tablet */

@media screen and (min-width: 768px) and (max-width: 991px) {

    nav ul{
        display: none;
    }
    /* Intro section */
    #intro .container{
        display: flex; 
        flex-flow: row wrap;
    }

    #intro .card{
        width: calc((100% / 3) - 20px);
    }

    #intro .card:first-child{
        width: calc((100% / 3 * 2) - 20px);
    }

    /* Testimonial section */
    .testimonial{
        display: flex;
        flex-flow: row;
    }

    .testimonial .img-box{
        width: 80%;
    }

    .testimonial-content > *{
        text-align: left;
    }

    /* Benefit section */
    .benefit-row{
        display: flex;
        flex-flow:row wrap ;
    }

    .benefit{
        width: calc((100% / 2) - 20px);
    }

    /* About us section */
    #about-us .container{
        display: flex;
        justify-content: space-around;
    }

    .about-right{
        width: 50%;
    }

    .about-left{
        width: 30%;
    }

    /* Call to action section */
    #call-to-action .container{
        margin: 0 auto;
        width: 60%;
    }

    /* footer config */
    footer .container{
            margin: 0 auto;
            width: 60%;    
    }

}

@media screen and (min-width:992px){
    
    .hamburgermenu{
        display: none;
    }


    nav ul{
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;     
    }

    nav ul a{
        padding-right: 20px;
        text-decoration: none;
    }

    .container{
        margin: 0 auto;
        max-width: 1200px;
    }
    /* Intro section */
    #intro .container{
        display: flex; 
        flex-flow: row wrap;
    }

    #intro .card{
        width: calc((100% / 3) - 20px);
        height: calc((100% / 2) -20px);
    }

    #intro .card:first-child{
        width: calc((100% / 3 * 2) - 20px);
        display: flex;
    }

    .card-left{
        width: 100%;
    }

    .app-store{
        padding: 10px;
    }

    .card-right{
        width: 50%;
    }

    .card-right img{       
        width: 100%;
        display: block;
        position: relative;
        bottom: -10%;
    }

    .card-left button{

        width: 50%;
    }

    /* Planning section */
    #planning .container{
        display: flex;
        margin: 0 auto;
        width: 70%;
        position: relative;
    }
    
    .planning-left{
        width: 50%;
    }

    .planning-right{
        width: 30%;
        height: 100%;
        position: relative;
        bottom: -100px;
    }

    .big-img-box{
        width: 100%;
    }

    .developement-content{
        width: 100%;
    }

    

    /* Testimonial section */


    .testimonial{
        display: flex;
        flex-flow: row;
    }

    .testimonial .img-box{
        width: 30%;
    }

    .testimonial-content > *{
        text-align: left;
    }

    /* Benefit section */
    .benefit-row{
        display: flex;
        flex-flow:row wrap ;
    }

    .benefit{
        width: calc((100% / 3) - 20px);
    }

    /* About us section */
    #about-us .container{
        display: flex;
        justify-content: space-around;
    }

    .about-right{
        width: 50%;
    }

    .about-left{
        width: 30%;
    }
}