
/* GENERAL CONFIGURATION */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

/* FONT */
body{
    font-family: 'PT Sans', sans-serif;
    background-color: var(--light-color);
}

/* COLORS STYLE */

:root{
    --secondary-color: #0084FD;
    --dark-color: #333333;
    --light-color: #FFFFFF;
    --primary-color: #9792E4;
    --bg-card: #B5DDFF;
    --contrast-color: #FDC15F;
    }
    
    header, footer{
        color: var(--light-color);
    }

/* UTILITY */

.text-center{
    text-align: center;
}

.small-radius{
    border-radius: 20px;
}

.big-radius{
    border-radius: 50px;
}

/* BUTTON CONFIG */
.first-btn{
    padding: 10px;
    border: 0;
    color: white;
}

.app-store{
    background-color: var(--secondary-color);
    justify-content: center;
}

.app-store i{
    padding-right: 5px;
    color: var(--light-color);
}



/* FLEX CONFIG */
.d-flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.s-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

/* CONTAINER CLASS CONFIG */
.container{
    padding: 15px;
}



/* HEADER CONFIG */
header{
    background-color: var(--secondary-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    height: 80px;
}

nav ul{
    display: none;
}

nav i{
    color: white;
    font-size: 50px;
}

header nav a{
    color: var(--light-color);
}


/* MAIN CONFIG */
main{
    margin-top: 80px;
}

.even{
    background-color: var(--primary-color);
}

.card{
    margin: 10px;
    padding: 20px;
}

#intro .card{
    background-color: var(--bg-card);
}

#testimonials .card{
    background-color: var(--light-color);
}

.card > *{
    padding-bottom: 20px;
    
}

/* INTRO SECTION CONFIG */

#intro h3, i{
    color: var(--secondary-color);
}

.main-icon{
    font-size: 50px;
}


/* Demo Card Config */

.card-left{
    width: 100%;
    flex-flow: column;
    align-items: center;;
}

.card-left > *{
    width: 80%;
    padding-bottom: 20px;   
}

.card-right{
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

.card-right img{
    width: 100%;
    display: block;
    position: relative;
    bottom: -20px;
}

/* PLANNING SECTION CONFIG */

#planning img{
    width: 100%;
    display: block;
}

.planning-content h2{
    font-size: 40px;
    padding-bottom: 20px;
}

.planning-content{
    color: white;
}

.planning-right{
    background-color: var(--light-color);
    margin: 20px auto;
    text-align: center;
}

.developement-content > *{
    padding: 15px;
}

.developement-content button{
    border: 0;
    background-color: var(--primary-color);
    border-radius: 50%;
    margin-bottom: 10px;
}

.developement-content button i{
    color: black;
}
/* FOOTER CONFIG */
footer{
    background-color: var(--dark-color);
}